{% extends "base_nav.html" %}
{% block title %}
<title>View Choices</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/choice.css')}}"/>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-body">
            <form class="form-choice" action="/choice" method="POST">
                <div class="form-group">
                    <input
                        type="submit"
                        name="choice"
                        value="Check Comment"
                        class="btn float-left btn-warning"
                    />
                    <input
                        type="submit"
                        name="choice"
                        value="Check User"
                        class="btn float-right btn-warning"
                    />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}