{% extends "base_nav.html" %}
{% block title %}
<title>Check Comment</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/comment.css')}}"/>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-body">
        {% if error %}
        <div class="alert alert-danger">
          <center>{{error}}</center>
        </div>
        {% endif %} {% if get_flashed_messages() %} {% for success in
        get_flashed_messages() %}
        <div class="alert alert-success">
          <center>{{success}}</center>
        </div>
        {% endfor %} {% endif %}
        <form
          class="form-checkcomment"
          action="/checkcomment/{{ comment_id }}/"
          method="POST"
        >
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="comment_id"
                placeholder="enter comment id or comment url"
                aria-label="enter comment id or comment url"
                required
              />
              <div class="input-group-append">
                <input
                  type="submit"
                  value="Search Comment"
                  class="btn float-left btn-warning"
                />
              </div>
            </div>
            {% if ban_info %}
            <div class="text-danger d-flex justify-content-center">
              {% if ban_info['permaban'] == 0 %}
              <label
                ><br /><b><i>{{user_data['username']}}</i></b> was timedout
                within last 30 days for
                <b><i>{{ban_info['reason']}}</i></b> by
                <b><i>{{ban_info['moderator']}}</i></b> on
                <b><i>{{ban_info['log_date']}}</i></b
                >.</label
              >
              {% endif %} {% if ban_info['permaban'] == 1 %}
              <p>
                <br /><b><i>{{user_data['username']}}</i></b> was
                permanently banned for
                <b><i>{{ban_info['reason']}}</i></b> by
                <b><i>{{ban_info['moderator']}}</i></b> on
                <b><i>{{ban_info['log_date']}}</i></b
                >.<br />
                Issuing a timeout will replace their permanent ban with a
                timeout ban.
              </p>
              {% endif %}
            </div>
            {% endif %} {% if user_data %}
            <div class="text-white">
              <br />
              <p>
                <label
                  >Display Name: <b>{{user_data['display_name']}}</b><br />
                  Username: <b>{{user_data['username']}}</b></label
                ><br />
              </p>

              <p>
                <label>Content: {{user_data['content']|safe}}</label><br />
              </p>

              <p>
                <label
                  >Upvotes: <b>{{user_data['upvotes']}}</b><br />
                  Downvotes: <b>{{user_data['downvotes']}}</b></label
                >
              </p>
            </div>
            {% endif %}
            <input
              type="button"
              value="Issue Timeout"
              class="btn float-left btn-warning"
              data-toggle="modal"
              data-target="#timeoutModal"
            />
            <input
              type="button"
              value="Issue Ban"
              class="btn float-right btn-warning"
              data-toggle="modal"
              data-target="#banModal"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block model %}
<!-- Timeout Modal -->
<div
class="modal fade"
id="timeoutModal"
tabindex="-1"
role="dialog"
aria-labelledby="timeoutModalTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="timeoutModalLongTitle">
        Issue Timeout
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-checkcomment" method="POST">
        <div class="form-group">
          <div class="input-group form-group">
            <input
              type="text"
              class="form-control"
              name="timeout_reason"
              placeholder="reason"
              required
            />
          </div>
          <div class="input-group form-group">
            <input
              type="number"
              min="1"
              step="1"
              max="14"
              class="form-control"
              name="timeout_duration"
              placeholder="enter timeout duration (in days)"
              required
            />
          </div>
          <div class="input-group form-group text-danger">
            <label>
              <b>Delete last 30 days of comments</b>
              <input type="checkbox" name="timeout_delete_comments" />
            </label>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              name="timeout_btn"
              value="timeout_btn"
              class="btn btn-warning"
            >
              Issue Timeout
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<!-- Ban Modal -->
<div
class="modal fade"
id="banModal"
tabindex="-1"
role="dialog"
aria-labelledby="banTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="banLongTitle">Issue Permanent Ban</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-checkcomment" method="POST">
        <div class="form-group">
          <div class="input-group form-group">
            <input
              type="text"
              class="form-control"
              name="ban_reason"
              placeholder="reason"
              required
            />
          </div>
          <div class="input-group form-group text-danger">
            <label>
              <b>Delete last 30 days of comments</b>
              <input type="checkbox" name="ban_delete_comments" />
            </label>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" name="ban_btn" class="btn btn-warning">
              Issue Ban
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}