{% extends "base_nav.html" %}
{% block title %}
<title>View Comment</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/viewcomment.css')}}"/>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-body">
        {% if get_flashed_messages() %} {% for error in
        get_flashed_messages() %}
        <div class="alert alert-danger">
          <center>{{error}}</center>
        </div>
        {% endfor %} {% endif %}
        <form class="form-viewcomment" action="/viewcomment/" method="POST">
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                name="comment_id"
                placeholder="enter comment id or comment url"
                aria-label="enter comment id  or comment url"
                required
              />
              <div class="input-group-append">
                <input
                  type="submit"
                  value="Search Comment"
                  class="btn float-left btn-warning"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}